node_modules/
build/
.env
.env.*
!.env.example
*.env
dev.db-journal
*.db
*.db-journal
prisma/*.db
coverage/
*.log
npm-debug.log*
.DS_Store
*.db-shm
*.db-wal
prisma/*.db-shm
prisma/*.db-wal
public/uploads/*
!public/uploads/.gitkeep

